<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="歌曲标签自动整理.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <歌曲标签自动整理.Properties.Settings>
            <setting name="WorkLine" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ENMFP" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </歌曲标签自动整理.Properties.Settings>
    </userSettings>
</configuration>